<!-- 検索フォームと検索ボタン -->
<p>
  <span class="h5 font-weight-bold">タイトル/放送時期で視聴済アニメを検索できます</span><br>
  <span>※何も入力せず検索すると一覧が表示されます</span>
</p>
<form>
  <div class="mb-3">
    <input type="search" class="form-control col-sm-5 mb-1" id="title" #title placeholder="タイトル">
    <input type="search" class="form-control col-sm-5 mb-1" id="season" #season placeholder="放送時期">
    <input type="search" class="form-control col-sm-5 mb-1" id="category" #category placeholder="ジャンル">
    <input type="search" class="form-control col-sm-5 mb-1" id="part" #part placeholder="話数">
    <select class="form-control col-sm-5" id="recorder" #recorder aria-placeholder="記録者">
      <option value='' disabled selected style='display:none;'>記録者</option>
      <option value="sota">sota</option>
      <option value="nao">nao</option>
    </select>

    <button type="submit" class="btn btn-primary" (click)="onSearch(title.value, season.value, category.value, part.value, recorder.value)">
      <i class="fas fa-search"></i>
    </button>
    </div>
  <!-- 検索結果リセットボタン -->
  <button (click)="onReset()" type="button" class="btn btn-secondary mb-5">リセット</button>
</form>

<!-- 検索結果表示テーブル -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-5" *ngIf="isSearch">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> タイトル </th>
    <td mat-cell *matCellDef="let animation">{{animation.title}}</td>
  </ng-container>

  <ng-container matColumnDef="season">
    <th mat-header-cell *matHeaderCellDef> 放送時期 </th>
    <td mat-cell *matCellDef="let animation">{{animation.season}}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> ジャンル </th>
    <td mat-cell *matCellDef="let animation">{{animation.category}}</td>
  </ng-container>

  <ng-container matColumnDef="part">
    <th mat-header-cell *matHeaderCellDef> 話数 </th>
    <td mat-cell *matCellDef="let animation">{{animation.part}}</td>
  </ng-container>

  <ng-container matColumnDef="recorder">
    <th mat-header-cell *matHeaderCellDef> 記録者 </th>
    <td mat-cell *matCellDef="let animation">{{animation.recorder}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
